
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    color: #1d1d1d;
}

.janela {
    display: flex;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid #ffffff;
    background-color: #122855;
    color: #ffffff;
}

.header-left a {
    text-decoration: none;
    color: white;
}

.btn-nav a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 0;
    transition: color 0.3s ease;
}

.btn-nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e03a3e;
    transition: width 0.3s ease;
}

.btn-nav a:hover {
    color: #e03a3e;
}

.btn-nav a:hover::after {
    width: 100%;
}

.btn-logout {
    background-color: #e03a3e;
    color: white;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.btn-logout:hover {
    background-color: #ffffff;
    color: #e03a3e;
    transform: translateY(-3px);
}

.dash {
    width: 82%;
    position: relative;
    top: 0;
    left: 18%;
    background-color: #e03a3e;
    height: 100vh;
    overflow: auto;
    color: #000000;
}

.inicial {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    margin: 25px auto;
    padding: 20px 10px;
    border-radius: 8px;
    font-weight: bold;
}

.grafico-times {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    margin: 5% auto 0 auto;
    padding: 20px;
    border-radius: 8px;
}
